#!/usr/bin/env python
PACKAGE = "bart_ros"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("show_results",   bool_t,   0, "Show tracking results in a GUI Window",  False)
gen.add("show_input",   bool_t,   0, "Show input image in a GUI Window",  False)

exit(gen.generate(PACKAGE, "bart", "bart_ros"))

