<launch>

    <node pkg="bart_ros" type="bart_ros_node" name="bart" cwd="node" output="screen">
      <!-- set a parameter for the node -->
      <param name="config_url" value="$(find bart_ros)/config/trackingBasedMarkerConfig.yaml" />
      <param name="timeout_ms" value="50" />
      <param name="scales" value="2" />
      <param name="downscale_factor" value="0.5" />
      <param name="log_statistics" value="false" />
      <param name="use_ros_camera_calibration" value="false" />

      <!-- nodes can have their own remap args -->
      <remap from="/xtion/rgb/image_raw" to="/bart/input"/>
      <remap from="/xtion/rgb/image_raw/camera_info" to="/bart/input/camera_info"/>
      <remap from="/bart/input" to="/cam0"/>
      <remap from="/bart/input/camera_info" to="/cam0/camera_info"/>
    </node>

</launch>
